.seccion_notificaciones {
  & .notificacion {
    border: 1px solid none;
    border-radius: 20px;
    background-color: rgb(243, 243, 243);
    padding: 7px 20px;
    margin: 10px 50px;
    & h3 {
      margin-bottom: 0;
      margin-top: 0;

      color: #ca436e;
    }

    & p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 16px;
      color: rgb(114, 114, 114);
    }
  }
}
