.container {
  padding-top: 60px;

  display: flex;
  flex-direction: column;
  align-items: start;
  border: 1px solid #eeeeee;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(223, 223, 223, 0.1);
  padding-left: 70px;
  padding-right: 30vh;
  & h2 {
    margin-bottom: 60px;
    color: #ca436e;
    font-size: 40px;
  }
}
