.historial {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: -4px 5px 10px rgb(218, 218, 218);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  padding-left: 50px;
  border-radius: 30px;

  & h1 {
    margin-top: 40px;
    color: #ca436e;
  }
}

.contenedorChats {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: thin; /* thin | auto | none */
  scrollbar-color: #e7e7e7 #ffffff;

  & p {
    margin: 7px;
    color: rgb(94, 94, 94);
  }
}
