.contenido {
  border: 1px solid rgb(219, 219, 219);
  background-color: white;
  padding: 20px 50px;
  box-shadow: -3px 3px 6px rgb(194, 194, 194);
  border-radius: 20px;

  & .video {
    width: 100%;
    height: 500px;
    border-radius: 12px;
  }

  & h2 {
    font-weight: normal;
    margin-bottom: 0px;
  }

  & p {
    color: rgb(88, 88, 88);
  }
}
