.card {
  background: linear-gradient(90deg, #ca6a89, #e98aa5, #f5b8c9);
  color: white;
  border-radius: 20px;
  border: 1px solid rgb(218, 218, 218);
  padding: 10px;
  height: 90px;
  & h3 {
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
