.container {
  padding-top: 20vh;
  border: 1px solid #eeeeee;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  padding-left: 40px;
  padding-right: 70px;
  background-color: rgba(172, 172, 172, 0.1);

  & h2 {
    color: #ca436e;
  }
}
