.Message {
  box-shadow: -4px 5px 10px rgb(218, 218, 218);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgb(218, 218, 218);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  & h3 {
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  & p {
    color: gray;
    font-size: smaller;
    padding-bottom: 19px;
  }
}
