.container {
  display: flex;

  & .left {
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & p {
    width: 75%;
    font-size: 30px;
    color: #b3b3b3;
  }

  & button {
    width: 25%;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 30px;
    border: none;
    font-size: 25px;
    background-color: #df5d86;
    color: white;
    box-shadow: 1px 1px 7px rgb(122, 122, 122);
  }

  & button:hover {
    box-shadow: 4px 4px 12px rgb(143, 143, 143);
  }
}
