.container {
  border: 1px solid none;
  background: linear-gradient(to right, #e7e7e799, #ffffff);
  border-radius: 20px;
  box-shadow: -3px 3px 6px rgb(180, 180, 180);
  padding: 40px;
  & P {
    background: linear-gradient(to right, #c26582, #ffbfd3);
    padding: 15px 10px;
    color: white;
    border-radius: 35px;
  }
}
