.container {
  margin-top: 80px;
  display: flex;
  gap: 50px;
  height: 730px;

  & .left {
    width: 50%;
    display: flex;
    flex-direction: column;

    & .notificaciones {
      overflow: auto;
    }
  }

  & .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: auto;
  }

  & .sms {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  & .title_notificaciones {
    color: #ca436e;
  }
}
