.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & img {
    padding-left: 50px;
  }

  & h2 {
    font-weight: normal;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 0;
    color: #df5d86;
  }

  & p {
    color: gray;
  }

  & .comenzar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  & .parrafo {
    padding: 0 25%;
  }

  & .formulario {
    width: 50%;
    margin-left: 20px;

    & .boton {
      display: flex;
      justify-content: center;
    }

    & P {
      padding-left: 15px;
      margin-bottom: 0;
    }
    & input {
      width: 90%;
      height: 45px;
      margin-top: 8px;
      padding-left: 15px;
      font-size: 15px;
      border-radius: 12px;
      border: 2px solid rgb(224, 224, 224);
    }

    & .confirm {
      & .register {
        background-color: transparent;
        border: none;
        color: #df5d86;
      }
    }
  }
  & .lastbutton {
    margin-top: 20px;
    background-color: #df5d86;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    width: 120px;
    height: 45px;
    border: none;
    box-shadow: 2px 2px 5px rgb(158, 158, 158);
  }
}

.foto {
  width: 38%;
}

/* Tablets y pantallas medianas (768px - 1024px) */
@media (max-width: 1024px) {
  .container {
    & img {
      padding-left: 30px;
    }

    & h2 {
      font-size: 32px;
    }

    & .parrafo {
      padding: 0 15%;
    }

    & .formulario {
      width: 55%;
      margin-left: 15px;
    }
  }

  .foto {
    width: 40%;
  }
}

/* Tablets pequeñas (481px - 768px) */
@media (max-width: 768px) {
  .container {
    margin-top: 1rem;
    flex-direction: column;
    padding: 20px;

    & img {
      padding-left: 0;
    }

    & h2 {
      font-size: 28px;
      margin-top: 20px;
    }

    & .parrafo {
      text-align: justify;
      padding: 0 10%;
    }

    & .formulario {
      width: 100%;
      margin-left: 0;
      margin-top: 30px;

      & input {
        width: 95%;
      }
    }
  }

  .foto {
    width: 100%;
  }
}

/* Móviles (hasta 480px) */
@media (max-width: 480px) {
  .container {
    padding: 15px;

    & h2 {
      font-size: 24px;
      margin-top: 15px;
    }

    & .parrafo {
      padding: 0 5%;
    }

    & .formulario {
      & P {
        padding-left: 10px;
      }

      & input {
        width: 100%;
        height: 40px;
        font-size: 14px;
        padding-left: 10px;
      }
    }

    & .lastbutton {
      width: 110px;
      height: 40px;
      font-size: 15px;
    }
  }

  .foto {
    width: 80%;
  }
}