.container {
  display: flex;
  justify-content: space-between;

  border: 1px solid rgb(218, 218, 218);
  border-radius: 15px;
  padding: 20px;
  box-shadow: -4px 5px 10px rgb(218, 218, 218);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  & .tarjeta {
    display: flex;
    gap: 10px;
    flex-direction: column;

    & h3 {
      margin: 0px;
    }
  }

  & .mis_datos {
    display: flex;
    gap: 10px;
    border: 1px solid rgba(218, 218, 218);
    border-radius: 15px;
    padding: 15px 20px;
  }

  & .datos_bebe {
    display: flex;
    gap: 10px;
    border: 1px solid rgba(218, 218, 218);
    border-radius: 15px;
    padding: 15px 20px;
  }

  & .datos {
    border: 1px solid rgba(218, 218, 218);
    border-radius: 15px;
    padding: 15px 20px;
    background-color: white;

    & p {
      margin: 0;
    }

    & h4 {
      margin: 5px 0px;
      color: #973756;
    }
  }
}
