.cuestionario {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 15px;
  padding: 15px 35px;

  box-shadow: -4px 5px 10px rgb(218, 218, 218);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  & p {
    font-size: smaller;
    color: gray;
    margin: 10 0;
  }

  & h4 {
    font-weight: normal;
    margin: 0;
  }

  & .boton {
    background: linear-gradient(90deg, #d86f90, #e98aa5, #f5b8c9);
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px;
  }
}
