.container {
  display: flex;
  margin-top: 70px;
  gap: 20%;
  height: 750px;

  & .left {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
  }

  & .publicaciones {
    width: 94%;
    display: flex;
    height: 100%;
    justify-content: end;
  }
}
