.container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 15px;
  padding: 30px;
  box-shadow: -4px 5px 10px rgb(218, 218, 218);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  & h3 {
    font-weight: normal;
    margin-bottom: 60px;
  }

  & article {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: white;
    & h4 {
      margin: 0;
      font-weight: normal;
    }
    & p {
      margin: 0;
      padding: 0;
      color: gray;
      font-size: smaller;
    }
  }
}
