@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
  font-family: 'Onest', sans-serif;
  margin-left: 80px;
  margin-top: 25px;
  margin-right: 80px;
  padding: 0;
}
