.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  & .posts {
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

.error {
  color: red;
  background-color: #ffe5e5;
  padding: 10px;
  border: 1px solid red;
  border-radius: 5px;

}
